@import 'src/variables';
.total-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 32px 1fr 12px;
    grid-row-gap: 2px;
    padding: 2px;
    margin: 8px 0;
    background-color: $list-item;
}
.total-title {
    grid-column: 1/12;
    text-align: center;
    padding: 4px;
}
.arrow-btn {
    text-align: center;
    margin: 0 32px;
    background-color: rgba(1,1,1,0.2);
    cursor: pointer;
    border-radius: 4px;
    display: table-cell;
}
.total {
    text-align: center;
}