<div class="total-container">
  <div class="total-title">
    <span>Total</span>
  </div>
  <div class="arrow-btn">
    <mat-icon 
      style="vertical-align: middle;" 
      (click)="selectTotal(total.under_price, true)">arrow_downward</mat-icon>
  </div>
  <div class="total">
    <span>{{ total.total }}</span>
  </div>
  <div class="arrow-btn">
    <mat-icon 
      style="vertical-align: middle;" 
      (click)="selectTotal(total.over_price, false)">arrow_upward</mat-icon>
  </div>
</div>
