<div class="team-total-container">
  <div class="tt-title">
    <span>Team Total</span>
  </div>
  <div class="tt-item">
    <div class="arrow-btn">
        <mat-icon 
            style="vertical-align: middle;" 
            (click)="selectTeamTotal(sportEvent.participant[0].team, team_total.away_under_price, true, team_total.away_total)">arrow_downward</mat-icon>
    </div>
    <div class="total">
        <span>{{team_total.away_total}}</span>
    </div>
    <div class="arrow-btn">
        <mat-icon 
            style="vertical-align: middle;" 
            (click)="selectTeamTotal(sportEvent.participant[0].team, team_total.away_over_price, false, team_total.away_total)">arrow_upward</mat-icon>
    </div>
  </div>
  <div class="tt-item">
    <div class="arrow-btn">
        <mat-icon 
            style="vertical-align: middle;" 
            (click)="selectTeamTotal(sportEvent.participant[1].team, team_total.home_under_price, true, team_total.home_total)">arrow_downward</mat-icon>
    </div>
    <div class="total">
        <span>{{team_total.home_total}}</span>
    </div>
    <div class="arrow-btn">
        <mat-icon 
            style="vertical-align: middle;" 
            (click)="selectTeamTotal(sportEvent.participant[1].team, team_total.home_over_price, false, team_total.home_total)">arrow_upward</mat-icon>
    </div>
  </div>
</div>
