@import 'src/variables';
.bet-item {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100px;
    background-color: $list-item;
    margin-bottom: 12px;
}
.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.title-panel > p {
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
}
.title-panel:first-child {
    background-color: $header-color;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content-panel {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    text-align: center;
    align-items: center;
}