<div class="bet-item" [@scaleAnimation]>
  <div class="title-panel">
    <p style="margin-left: 14px;">{{ bet.event_name }}</p>
    <p *ngIf="bet.type === 'money_line'">Money Line</p>
    <p *ngIf="bet.type === 'ps'">Point Spread</p>
    <p *ngIf="bet.type === 'total'">Total</p>
    <p *ngIf="bet.type === 'team_total'">Team Total</p>
  </div>
  <div class="content-panel">
    <span *ngIf="bet.type !== 'total'">{{ bet.team_name }}</span>
    <span *ngIf="bet.type === 'total'"> Ambos </span>
    <span>{{ bet.money }}</span>
    <div *ngIf="bet.type === 'total' || bet.type === 'team_total'">
      <mat-icon *ngIf="bet.isUnder">arrow_downward</mat-icon>
      <mat-icon *ngIf="!bet.isUnder">arrow_upward</mat-icon>
    </div>
  </div>
  <div *ngIf="!isTicket" (click)="removeBet(bet)" class="close-icon">
    <mat-icon>close</mat-icon>
  </div>
</div>
