<mat-card class="data-column">
  <mat-card-header class="data-header"> Lineas </mat-card-header>
  <div class="data-container">    
    <div *ngIf="isFetching" class="loader-container">
      <app-loader></app-loader>
    </div>
    <div *ngIf="!isFetching && eventLines.length === 0" class="noline-holder">
      <p>Seleccione un Evento para ver las líneas disponibles</p>
    </div>
    <div *ngIf="!isFetching && eventLines.length" class="lines-container" appHoverscroll>
      <app-bet-event *ngFor="let event of eventLines" [lines]="event.line"></app-bet-event>
    </div>    
    <div *ngIf="scoreEvent else noscore" class="score-container">
      <div class="current-score">
        <div class="cs-title"><span>Puntaje Actual</span></div>
        <div class="current-score-item"><span>Home: {{ scoreEvent.current_score.home_score }}</span></div>
        <div class="current-score-item"><span>Away: {{ scoreEvent.current_score.away_score }}</span></div>
      </div>
      <div class="periods">
        <div *ngFor="let period of scoreEvent.period_summary" class="period-item">
          <span class="pi-subtitle">{{ period.name }}</span>
          <span class="pi-score">{{ period.score[0].value }}</span>
          <span class="pi-score">{{ period.score[1].value }}</span>
        </div>
      </div>
    </div>
    <ng-template #noscore>
      <div>
        <div class="cs-title-ns"><span>Puntaje Actual</span></div>
        <div class="no-score">
          <span>Seleccione un evento en vivo para visualizar el score</span>
        </div>
      </div>
    </ng-template>
  </div>
  <mat-icon class="ticket-header">show_chart</mat-icon>
</mat-card>
