@import 'src/variables';

.data-header {
  margin: -24px -24px 0px -24px !important;
  padding: 24px;
  background-color: $highlight;
}

.data-column {
  height: 100%;
  box-sizing: border-box;
  background-color: $columns-color;
  color: $font-color;
  display: grid;
  grid-template-rows: 48px 1fr;
}

.data-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  margin: 0 -24px -24px -24px !important;
}

.lines-container {
  overflow-y: auto;
  max-height: 100%;
}

.no-score {
  text-align: center;
  display: flex;
  height: calc(100% - 50px);
}

.no-score>span {
  font-size: 1.3rem;
  font-weight: lighter;
  align-self: center;
}

.score-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.current-score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cs-title {
  grid-column: 1/12;
  text-align: center;
  background-color: $header-color;
  padding: 6px;
}

.cs-title-ns {
  text-align: center;
  background-color: $header-color;
  padding: 6px;
}

.current-score-item {
  text-align: center;
  padding: 4px;
}

.cs-title>span {
  vertical-align: -webkit-baseline-middle;
}

.current-score-item>span {
  vertical-align: -webkit-baseline-middle;
}

.periods {
    overflow-y: auto;
    max-height: 100%;
}

.period-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.pi-subtitle {
    grid-column: 1/12;
    padding: 8px;
    text-align: center;
    background-color: $list-item;
}

.noline-holder {
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.pi-score {
    text-align: center;
    padding: 4px;
    font-size: 1.41rem;
}
