@import 'src/variables';
.sport-header {
    margin: -24px -24px 0px -24px !important;
    padding: 24px;
    background-color: $highlight;
}

.sport-container {
    margin: 0 -24px !important;
    display: grid;
    grid-template-rows: 36px 1fr;
}
.sport-list-c {
    overflow-y: auto;
    max-height: 100%;
}
.sport-column {
    height: 100%;
    box-sizing: border-box;
    background-color: $columns-color;
    color: $font-color;
    display: grid;
    grid-template-rows: 48px 1fr;
}

.sport-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sport-list-item {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 1px;    
    color: $font-color;
}

.sport-list-item:hover {
    transition: all 500ms;
    color: $font-color-hover;
}

.sport-league-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sport-league-list > li {
    padding: 4px;
    cursor: pointer;
    margin-bottom: 1px;
    background-color: $list-item;
    border-radius: 2px;
    color: $font-color;
}

.sport-league-list > li:hover {    
    transition: all 500ms;
    color: $font-color-hover;
}

.active-item {
    color: $font-color-active !important;
}
.search-bar {
    padding: 8px;
}