<mat-card class="sport-column">
  <mat-card-header class="sport-header"> Deportes </mat-card-header>
  <div *ngIf="!isFetching" class="sport-container">
    <div class="search-bar">
      <input [formControl]="searchSportInput" placeholder="Buscar" type="text">      
    </div>
    <div class="sport-list-c" appHoverscroll>
      <ul class="sport-list">
        <li *ngFor="let sport of sportsFiltered">
          <div (click)="changeSport(sport)" class="sport-list-item" [ngClass]="{'active-item': sport === activeSport}">
            <i [ngClass]="sportsIcons[sport.name]"></i>
            <span>{{ sport.name }}</span>
            <mat-icon *ngIf="!(sport === activeSport)">keyboard_arrow_down</mat-icon>          
            <mat-icon *ngIf="sport === activeSport">keyboard_arrow_up</mat-icon>
          </div>
          <ul *ngIf="sport === activeSport" class="sport-league-list">
            <li *ngFor="let league of sport.league" 
                (click)="changeLeague(league)"
                [ngClass]="{'active-item': league === activeLeague}">{{ league.name }}</li>          
          </ul>
        </li>
      </ul>
    </div>    
  </div>
  <div *ngIf="isFetching" class="loader-container">
    <app-loader></app-loader>
  </div>
  <mat-icon class="ticket-header">directions_run</mat-icon>
</mat-card>