<div class="event-container" [ngClass]="{'active-item': isActive}">
  <div class="event-header" (click)="changeSportEvent()">
    <span>{{ sportEvent.name }}</span>
    <span class="event-date">{{ sportEvent.date }}</span>
  </div>
  <div class="event-participants">
    <div class="team">
      <span *ngIf="sportEvent.participant[0].team" class="team-name">{{ sportEvent.participant[0].team.name }}</span>
      <div class="team-rot">
        <span>{{ sportEvent.participant[0].rot }}</span>
      </div>
    </div>
    <div class="team">
      <span *ngIf="sportEvent.participant[1].team" class="team-name">{{ sportEvent.participant[1].team.name }}</span>
      <div class="team-rot">
        <span>{{ sportEvent.participant[1].rot }}</span>
      </div>
    </div>
  </div>
</div>
