@import 'src/variables';
.event-container {
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
}

.event-header {
    padding: 8px;    
    background-color: $header-color;
    text-align: center;
    display: grid;
}

.event-date {
    font-size: 0.8rem;
    font-weight: lighter;
}

.event-participants {
    display: grid;
    background-color: $list-item;
    padding: 8px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-column-gap: 8px;
}

.team-name {
    align-self: center;
}

.team-rot {
    display: flex;
    justify-content: space-around;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.team-rot > span {
    align-self: center;
}
.active-item {
    color: $font-color-active !important;
}