@import 'src/variables';
.money-line-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 32px 1fr 12px;
    grid-row-gap: 2px;
    padding: 2px;
    margin: 8px 0;
    background-color: $list-item;
}
.money-item {
    text-align: center;
    margin: 0 32px;
    border: solid 1px;
    border-radius: 8px;
    padding: 6px 0px;
    cursor: pointer;
}
.money-line-title {
    grid-column: 1/12;
    text-align: center;
    padding: 4px;
}