<div class="money-line-container">
  <div class="money-line-title">
    <span>Money Line</span>
  </div>
  <div class="money-item" (click)="selectMoneyLine(sportEvent.participant[0].team, moneyLine.away_money)">
    <span>{{ moneyLine.away_money }}</span>
  </div>
  <div class="money-item" (click)="selectMoneyLine(sportEvent.participant[1].team, moneyLine.home_money)">
    <span><span>{{ moneyLine.home_money }}</span></span>
  </div>
</div>