<div class="ps-container">
  <div class="ps-title">
    <span>Point Spread / Handicap</span>
  </div>
  <div class="ps-item" (click)="selectPointSpread(sportEvent.participant[0].team, ps.away_price, ps.away_spread)">
    <span>{{ ps.away_spread }}</span>
  </div>
  <div class="ps-item" (click)="selectPointSpread(sportEvent.participant[1].team, ps.home_price, ps.home_spread)">
    <span>{{ ps.home_spread }}</span>
  </div>
</div>