<mat-toolbar color="primary" style="position: absolute;">
  <mat-toolbar-row>
    <mat-icon style="cursor: pointer;" routerLink="/bets">arrow_back</mat-icon>
    <span style="margin-left: 12px;">SportBooks</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-fuild row tickets-container">
  <div class="col-lg-4 col-sm-12 col-wrap">
    <mat-card class="col-tickets">
      <mat-card-header class="headers"> Tickets </mat-card-header>
      <div class="ticket-content">
        <div style="border-bottom: 1px solid rgba(255,255,2555,0.1);">
          <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Por Fecha">
              <div class="date-inputs">
                <div class="date-picker">
                    <input type="text" 
                           style="margin-top: 8px;" 
                           [matDatepicker]="startPicker" 
                           placeholder="Desde..."
                           [(ngModel)]="startDate"
                           (dateChange)="changeStartDate()">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                </div>
                <div class="date-picker">
                  <input type="text" 
                         style="margin-top: 8px;" 
                         [matDatepicker]="endPicker" 
                         placeholder="Hasta..."
                         [(ngModel)]="endDate"
                         [disabled]="!startDate"
                         (dateChange)="changeEndDate()"
                         [min]="startDate">
                  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Por ID">
              <div class="id-input">
                <input [formControl]="searchIDInput" placeholder="Buscar" type="text">
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="ticket-items">
          <app-ticket *ngFor="let ticket of filteredTickets" 
                      [ticket]="ticket"
                      (click)="onTicketClick(ticket)"
                      [ngClass]="{'active-item': ticket.id === activeTicket.id}"></app-ticket>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-sm-12 col-wrap">
    <mat-card class="col-tickets">
      <mat-card-header class="headers"> Apuestas </mat-card-header>
      <div class="bet-content" appHoverscroll>
        <app-bet-item *ngFor="let bet of bets" [bet]="bet" [isTicket]="true"></app-bet-item>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-sm-12 col-wrap">
    <mat-card class="col-tickets">
      <mat-card-header class="headers"> Acciones </mat-card-header>
    </mat-card>
  </div>
</div>
