@import 'src/variables';
.tickets-container {
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 0;
    padding-top: 72px;
}
.col-tickets {
    display: grid;
    grid-template-rows: 48px 1fr;
    height: 100%;
    box-sizing: border-box;
    background-color: $columns-color;
    color: $font-color;
    min-height: 500px;
}
.ticket-content {
    display: grid;
    grid-template-rows: 120px 1fr;
    margin: 0 -24px;
    grid-row-gap: 6px;
}
.bet-content {
    max-height: 100%;
    overflow-y: hidden;
    margin: 0 -24px;
    padding: 0 8px;
}
.headers {
    margin: -24px -24px 0px -24px !important;
    padding: 24px;
    background-color: $highlight;
}
.ticket-items {
    padding: 0 24px;
    max-height: 100%;
    overflow-y: auto;
}
.date-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    padding: 12px;
}
.id-input {
    padding: 12px;
}
.date-picker {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.active-item {
    color: white;
}
@media only screen and (max-width: 991px) {
    .col-wrap {
        margin-bottom: 20px;
    }
}