@import 'src/variables';
.bet-event-container {
    display: grid;
    grid-template-rows: 38px auto;
    grid-row-gap: 8px;
}
.event-title {
    text-align: center;
    padding: 8px;
}
.line-period {
    text-align: center;
    padding: 6px;
    background-color: $header-color;
}
.line-c {
    padding: 0 6px;
}