<div class="bet-event-container">
  <div class="event-title">
    <span>{{ sportEvent.name }}</span>
  </div>
  <div *ngFor="let line of lines">
    <div class="line-period">
      <span>Periódo: {{ line.period }}</span>
    </div>
    <div class="lines-c">
        <app-money-line
                *ngIf="line.money" 
                [moneyLine]="line.money"
                [sportEvent]="sportEvent"
                (onAddBet)="selectBet($event, line)"></app-money-line>
        <app-ps
                *ngIf="line.ps" 
                [ps]="line.ps"
                [sportEvent]="sportEvent"
                (onAddBet)="selectBet($event, line)"></app-ps>
        <app-total
                *ngIf="line.total" 
                [total]="line.total"
                [sportEvent]="sportEvent"
                (onAddBet)="selectBet($event, line)"></app-total>
        <app-team-total
                *ngIf="line.team_total" 
                [teamTotal]="line.team_total"
                [sportEvent]="sportEvent"
                (onAddBet)="selectBet($event, line)"></app-team-total>
    </div>
  </div>
</div>