/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import 'variables';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
    background-color: $background;
    color: $font-color;
    font-weight: lighter;
}
input[type=text] {
    width: 100%;
    background-color: transparent;
    color: inherit;
    border-radius: 4px;
    border: 1px solid #65656580;
    height: 25px;
    font-weight: lighter;
    padding: 8px;
}
input[type=text]:focus {
    border: 1px solid #ffffff;
}

.loader-container {
    position: relative;
    height: 100%;
    width: 100%;
}
.ticket-header {
    position: absolute;
    top: 24px;
    right: 24px;
}