$background: #22252a;
$columns-color: #2d3035;
$font-color: #8a8d93;
$font-color-hover: #c8c8c8;
$font-color-active: #fff;
$highlight: rgba(255,255,255,.025);
$list-item: rgba(255,255,255,0.1);
$header-color: rgba(1,1,1,0.1);