<mat-card class="bet-column">
  <mat-card-header class="bet-header"> Apuesta </mat-card-header>
  <div class="bet-container">
    <div class="stake">
      <input type="text" [formControl]="stakeFormControl" placeholder="Apuesta">
    </div>
    <div class="bets" appHoverscroll>
      <app-bet-item *ngFor="let bet of bets" [bet]="bet" [isTicket]="false"></app-bet-item>
    </div>
    <div class="total">
      <span>Total: {{ total }}</span>
      <button mat-raised-button (click)="createBet()" [disabled]="!(bets.length && stakeFormControl.valid)">Apostar</button>
    </div>
  </div>
  <mat-icon class="ticket-header">attach_money</mat-icon>
</mat-card>
