@import 'src/variables';
.bet-header {
    margin: -24px -24px 0px -24px !important;
    padding: 24px;
    background-color: $highlight;
}

.bet-column {    
    height: 100%;
    box-sizing: border-box;
    background-color: $columns-color;
    color: $font-color;
    display: grid;
    grid-template-rows: 48px 1fr;
}
.bet-container {
    display: grid;
    grid-template-rows: 48px 3fr 1fr;
}
.stake {
    padding: 4px;
    display: flex;
    align-items: center;
}
.bets {
    overflow-y: auto;
    max-height: 100%; 
}
.total {
    display: grid;
    grid-template-rows: 1fr 48px;
}
.total > span {
    font-size: 2rem;
    text-align: right;
}
