@import 'src/variables';
.games-header {
    margin: -24px -24px 0px -24px !important;
    padding: 24px;
    background-color: $highlight;
}

.games-column {    
    height: 100%;
    box-sizing: border-box;
    background-color: $columns-color;
    color: $font-color;
    display: grid;
    grid-template-rows: 48px 38px 1fr;
}
.title-event {
    margin: 0px -24px 0px -24px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: lighter;
    padding: 8px;
    background-color: $header-color;
}
.column-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin: 0px -24px -24px -24px !important;
}
.groups-containers {
    display: grid;
    grid-template-rows: 40px 1fr;
}
.games-containers {
    overflow-y: auto;
    max-height: 100%;
}
.group-list-c {
    overflow-y: auto;
    max-height: 100%;
}
.group-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.group-list > li {
    padding: 6px;
    cursor: pointer;
    margin-bottom: 1px;
    background-color: $list-item;
    border-radius: 2px;
}
.group-list > li:hover {
    transition: all 500ms;
    color: $font-color-hover
}
.event-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.events {
    display: grid;
    grid-template-rows: 38px 1fr;
}
.active-item {
    color: $font-color-active !important;
}