<mat-card class="games-column">
  <mat-card-header class="games-header"> Grupos / Eventos </mat-card-header>
  <div class="title-event">
    <span>Grupos</span>
  </div>
  <div class="column-container">
    <div class="groups-containers">
      <div style="padding: 4px;">
        <input [formControl]="searchGroupInput" placeholder="Buscar" type="text">
      </div>
      <div class="group-list-c" appHoverscroll>
        <ul class="group-list" *ngIf="league" [@elementListAnimation]="groupsFiltered.length">
          <li *ngFor="let group of groupsFiltered" [ngClass]="{'active-item': group === activeGroup}" (click)="changeGroup(group)">{{ group.name }}</li>
        </ul>
      </div>
    </div>
    <div class="events">
      <div class="title-event" style="margin: 0;">
        <span>Eventos</span>
      </div>
      <div class="games-containers" appHoverscroll>
        <ul class="event-list" [@elementListAnimation]="sportEvents.length">
          <li *ngFor="let event of sportEvents">
            <app-event [event]="event" [isActive]="event === activeSportEvent"></app-event>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <mat-icon class="ticket-header">event_available</mat-icon>
</mat-card>
