<mat-toolbar color="primary" style="position: absolute;">
  <mat-toolbar-row>
    <span>SportBooks</span>
    <span style="flex: 1 1 auto;"></span>
    <span routerLink="/tickets" style="cursor: pointer;">Mis tickets</span>
    <mat-icon style="padding: 0 14px; cursor: pointer;" routerLink="/tickets">confirmation_number</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid row main-container">
  <app-sport class="col-lg-3 col-md-6 main-column"></app-sport>
  <app-games class="col-lg-3 col-md-6 main-column"></app-games>
  <app-data class="col-lg-3 col-md-6 main-column"></app-data>
  <app-bet class="col-lg-3 col-md-6 main-column"></app-bet>
</div>
