@import 'src/variables.scss';

.main-container {
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 0;
    padding-top: 72px;
}
.main-column {
    padding-right: 5px;
    padding-left: 5px;
    min-height: 500px;
}
@media only screen and (max-width: 985px) {
    .main-column {
        padding-bottom: 5px;
    }
}