<div class="ticket-item">
  <div class="ticket-content">
    <span>Numero de Ticket: {{ ticket.id }}</span>
    <span style="font-size: 1rem;">{{ ticket.date }}</span>
  </div>
  <div class="ticket-content">
    <span>Apuesta: {{ ticket.stake }}</span>
    <span>Outcome: {{ ticket.outcome }}</span>
  </div>
</div>