.ticket-item {
    display: grid;
    padding: 4px;
    box-shadow: 1px 1px 4px -1px black;
    margin-bottom: 8px;
    cursor: pointer;
}
.ticket-content {
    display: flex;
    flex-flow: column;
    font-size: 1rem;
}